/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    
    header {
    background: linear-gradient(to bottom, #70be63, #f7dc6f);
    color: #fff;
    padding: 20px;
    text-align: center;
    }
    
    header h1 {
    margin: 0;
    color: #70be63; /* verde */
    }
    
    nav ul {
    list-style-type: none;
    padding: 0;
    }
    
    nav ul li {
    display: inline;
    margin-right: 20px;
    }
    
    nav ul li a {
    color: #fff;
    text-decoration: none;
    }
    
    section {
    padding: 20px;
    }
    
    footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    }
    
    /* Estilos específicos para seções */
    section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    }
    
    /* Estilos específicos para palavras-chave */
    #sobre h2, #atividades h2, #eventos h2, #recursos h2 {
    color: #ff0000; /* vermelho */
    }
    
    #atividades h2, #eventos h2, #recursos h2 {
    color: #006400; /* verde escuro */
    }
